@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

/*Varáveis: cores e fontes*/
:root {
    --cor00: #C5EBD6;
    --cor01: #83E1AD;
    --cor02: #3DDC84;
    --cor03: #2FA866;
    --cor04: #1A5C37;
    --cor05: #063d1e;
    --fonte-principal: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue' , cursive;
    --fonte-Android: 'Android', sans-serif;
}

* {

}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor00);
}

header {
        background-color: var(--cor04);
}

header > h1 {
    font-family: var(--fonte-destaque);
    color: white;
}

header > p {
    color: white;
}

nav {
    background-color: var(--cor05);
}

main {
    background-color: white;
    min-width: 400px;
    max-width: 800px;
    margin: auto;
}

main h1 {
    color: var(--cor05);
    font-family: var(--fonte-Android);
}

main h2 {
    color: var(--cor05);
    font-family: var(--fonte-Android);
}

footer {
    background-color: var(--cor05);
    color: white;
}
